.liveTitle {
  font-family: Hiragino Kaku Gothic ProN;
}
.japaneseText {
  font-family: Hiragino Kaku Gothic ProN;
}
@media screen and (max-width:480px) { 
  .liveTitle { font-size:25px !important; }
}
@media screen and (max-width:768px) { 
  .break:after {
    content: "\A";
    white-space: pre;
  }
}